*, *:before, *:after {
  font-family: "Playfair Display", serif;
    box-sizing: border-box;
  }
  
  body {
    font-family: 'Nunito', sans-serif;
    color: #465058;
    background-color: rgb(247, 231, 203);
  }
  
  form {
    max-width: 300px;
    margin: 10px auto;
    padding: 10px 20px;
    background: #f3f1e9;
    border-radius: 8px;
  }
  
  h1 {
    margin: 0 0 30px 0;
    text-align: center;
  }
  
  input[type="text"],
  input[type="password"],
  input[type="email"],
  textarea,
  select {
     
    border: none;
    font-size: 16px;
    height: auto;
    margin: 0;
    
    padding: 15px;
    width: 100%;
    background-color: #dae1e2;
    color: #565f68;
    
    margin-bottom: 30px;
  }*
  
  input[type="radio"],
  input[type="checkbox"] {
    margin: 0 4px 8px 0;
  }
  
  select {
    padding: 6px;
    height: 32px;
    
  }
  
  button {
    padding: 19px 39px 18px 39px;
    color: #FFF;
    background-color: #4a4b74;
    font-size: 18px;
    text-align: center;
    font-style: normal;
    border-radius: 5px;
    width: 100%;
    border: 1px solid #303a55;
    border-width: 1px 1px 3px;
  
    margin-bottom: 10px;
  }
  
  fieldset {
    margin-bottom: 30px;
    border: none;
  }
  label {
    display: block;
    margin-bottom: 8px;
  }
  
  label.light {
    font-weight: 300;
    display: inline;
  }  
  
  
  
  @media screen and (min-width: 480px) {
  
    form {
      max-width: 480px;
    }
  
  }